#layout-page{
  width: 100%;
  height: 100%;
  text-align: center;
}

#layout-page-inner {
  padding: 2em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}

div.floor-panel {
  width: 10em;
  height: 12em;
  
  border: 0.2em solid white;
}

div.floor-panel div{
  margin-bottom: 0.5em;
}

div.floor-panel input[type=text]{
  width: 30%;
}

div.floor-panel-enabled {
  background-color: black;
  color: white;
}

div.floor-panel-disabled {
  background-color: gray;
  color: white;
}

input.prescale {
  width: 5em;
}
