#replay-page, #replay-page-inner {
  width: 100%;
  height: 100%;
  text-align: center;
}

#time-slider {
  width: 80%;
}

#replay-files {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#replay-files-inner {
  border-style: solid;
  border-color: black;
  border-width: 0.2em;
  width: 15em;
  text-align: left;
  padding: 1em;
}

#replay-files-inner h1 {
  margin: 0;
}
