input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.15em solid #000000;
  height: 1.2em;
  width: 1.2em;
  border-radius: 0.6em;
  margin-top: -0.4em;
  background: #eee;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.6em;
  cursor: pointer;
  /*box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
  background: #3071a9;
  border-radius: 0.1em;
  border: 0.1em solid #010101;
}
