<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Smart floor</title>

    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/replay.css">
    <link rel="stylesheet" type="text/css" href="css/layout.css">
    <link rel="stylesheet" type="text/css" href="css/slider.css">
    <link rel="stylesheet" type="text/css" href="css/selectPorts.css">
    <link rel="stylesheet" type="text/css" href="css/displayPage.css">
    <!-- <link rel="stylesheet" type="text/css" href="settings.css"> -->
    <link rel="stylesheet" type="text/css" href="node_modules/typeface-roboto/index.css">
    <link rel="stylesheet" type="text/css" href="node_modules/@fortawesome/fontawesome-free/css/all.css">
  </head>
  
  <body ng-controller="display">

    <div id="top-container">
      <!-- SIDEBAR -->
      <div id="sidebar">
        <div id="sidebar-inner">
          <div id="menu-items">
            <h1>Smart Floor Visualiser</h1>
            <!-- <a ng-click="currentpage='main'" ng-class="{true: 'selected', false: ''}[currentpage=='main']">Port Select</a> -->
            <a ng-click="currentpage='display'" ng-class="{true: 'selected', false: ''}[currentpage=='display']">Display</a>
            <a ng-click="currentpage='replay'" ng-class="{true: 'selected', false: ''}[currentpage=='replay']">Replay</a>
            <a ng-click="currentpage='settings'" ng-class="{true: 'selected', false: ''}[currentpage=='settings']">Settings</a>
            <a ng-click="currentpage='debug'" ng-class="{true: 'selected', false: ''}[currentpage=='debug']">Debug</a>
            <a ng-click="currentpage='layout'" ng-class="{true: 'selected', false: ''}[currentpage=='layout']">Layout</a>
          </div>
        </div>

      </div>
  
      <div id="version-info">
        Version: {{VERSION}} <br>
        Aug 19
      </div>

      <!-- MAIN CONTENT -->
      <div id="main-content">
        <!-- Select ports page -->
        <div ng-show="currentpage=='main'" id="main-page">
          <div id="main-page-spacer">&nbsp;</div>
          <div id="main-page-inner">
            Hello world
          </div>
        </div>
        
        <!-- Display page -->
        <div ng-show="currentpage=='display'" id="display-page">
          <div id="display-page-inner">
            <canvas id="display"></canvas>
          </div>
          <div>
            <button ng-click="tare()">Tare</button>
            Record: 
            <input type="text" ng-model="recording.prefix">
            <button ng-click="startRecord()" ng-hide="recording.enabled">Start</button>
            <button ng-click="finishRecord()" ng-show="recording.enabled">Finish</button>
          </div>
        </div>

        <!-- Settings page -->
        <div ng-show="currentpage=='settings'" id="settings-page">
          <div id="settings-page-inner">
            <div>
              <h1>Settings</h1>
              <a>Number of calibration samples to take:</a><br>
              <input type="number" ng-model="settings.numCalVals"><br><br>
              <a>Max value:</a><br>
              <input type="number" ng-model="settings.max"><br><br>
              <a>Interpolation factor:</a><br>
              <input type="number" ng-model="settings.interpFactor"><br><br>
              <button ng-click="tare()">Tare</button>

              <h2>Foot detection</h2>
              <a>Enable: </a><input type="checkbox" ng-model="settings.fd.enable"><br>
              <a>Threshold value:</a><br>
              <input type="number" ng-model="settings.fd.threshold"><br><br>

              <h2>Histogram</h2>
              <a>Enable: </a><input type="checkbox" ng-model="settings.histo.enable"><br>
              <a>Autoscale: </a><input type="checkbox" ng-model="settings.histo.autoscale"><br>
            </div>
          </div>
        </div>

        <!-- Debug page -->
        <div ng-show="currentpage=='debug'" id="debug-page">
          <div id="debug-page-inner">
            <div>
              <h1>Debug</h1>
              <div ng-repeat="row in matrix track by $index">
                |<span ng-repeat="col in row track by $index">{{col.val.toFixed(2)}}|</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Replay page -->
        <div ng-show="currentpage=='replay'" id="replay-page" ng-controller="replay">
          <div ng-show="currentFile===''" id="replay-files">
            <div id="replay-files-inner">
              <h1>Saved files:</h1>
              <div>Click to open</div>
              <br>
              <div ng-repeat="f in savedFiles">
                <div ng-click="openFile(f)">{{f}}</div>
              </div>
            </div>
          </div>

          <div ng-hide="currentFile===''" id="replay-page-inner">
            <canvas id="replay-canvas"></canvas>
            <div>
              <input type="range" id="time-slider" name="range" ng-model="data_i" min="0"  max="{{data.length - 1}}" ng-change="updatePlot()">
              {{data_i + 1}}:{{data.length}}
            </div>
          </div>
        </div>

        <!-- Layout page -->
        <div ng-show="currentpage=='layout'" id="layout-page" ng-controller="layout">
          <div id="layout-page-inner">
            <div class="floor-panel" 
              ng-repeat="x in squares" 
              ng-class="{true: 'floor-panel-enabled', false: 'floor-panel-disabled'}[x.enabled]"
              
              >
              <div>&nbsp;</div>
              <div ng-show="x.enabled">
                <div>Enabled</div>
                <div ng-click="x.enabled=false"><button>Disable</button></div>
                <div>ID: <input type="text" ng-model="x.id"></div>
                <div>Data prescale: <input type="number" ng-model="x.prescale" class="prescale"></div>
                <div>{{x.dimensions.x}} by {{x.dimensions.y}}</div>
              </div>

              <div ng-hide="x.enabled">
                <div>Disabled</div>
                <div ng-click="x.enabled=true"><button>Enable</button></div>
              </div>
            </div>
          </div>
          <div><button ng-click="saveLayout()">Save layout</button></div>
        </div>

        

    </div>

    <script>require('angular')</script>
    <script>require('./js/index.js')</script>
    <script>require('./js/replay.js')</script>
    <script>require('./js/layout.js')</script>
  </body>
</html>
