body {
  background-color: #73aad8;
  font-family: Sans-Serif;
  font-size: 5em;
}

button {
  font-size: 1em;
  margin: 0.1em;
  background-color: #eeeeee;
  border-style: solid;
  border-color: black;
  border-radius: 0.2em;
  cursor: pointer;
}
